// Styles used by more than one page

body {
	font-family: 'Helvetica', sans-serif;
	padding: 0;
	margin: 0;
	background: url('../images/bg.png');
}

#header {
	background: #fff;
	height: 85px;
	line-height: 85px;
}

#logo {
	margin-left: 10px;
}

.container.main {
	padding-top: 20px;
}

ul {
	// Unstyle all the lists
	.unstyled;
}

section {
}

.box {
	border: 1px solid #ccc;
	background: #fff;

	padding: 10px;
	margin: 10px;
}

#friends-input {
	width: 161px * 2 + 4;
}

#friends_input_chzn {
	width: 161px * 2 + 4;
	margin-top: 4px;
	display: block;
}