// Styles used by more than one page

body {
	font-family: 'Helvetica', sans-serif;
	padding: 0;
	margin: 0;
	background: url('../images/bg.png');
}

#header {
	background: #fff;
	height: 85px;
	line-height: 85px;
}

#logo {
	margin-top: 10px;
	width: 30%;
}

.container.main {
	padding-top: 20px;
}

ul {
	// Unstyle all the lists
	.unstyled;
}

hr {
	width: 70%;
}

section {
}

.box {
	border: 1px solid #ccc;
	background: #fff;

	padding: 10px;
	margin: 10px;
}

.payment-row {
	margin: 0px auto;	
	display: block;
	width: 90%;
}

.chzn-choices {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}

#friends-input {
	width: 90%;
}

#friends_input_chzn {
	margin-right: auto;
	margin-left: auto;
	margin-top: 4px;
	display: block;
}

#user-give-list {
	margin:0px auto;
	display:block;
	width:70%;
}

#user-receive-list {
	margin:0px auto;
	display:block;
	width:70%;
}

#title {
	width:45%;
	float:left;
}

#value {
	width:45%;
	float:right;
}

#to-header {
	width: 60%;
	margin:0px auto;
	display:block;
	font-size: 45px;
	font-weight: bold;
	color: #b3b3b3;
	color: rgba(255, 255, 255, 0.3);
	text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
}