// General helper classes

.unstyled {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.center {
	margin:0px auto;
	display:block;
}

.center-box {
	margin:0px auto;
	display:block;
	width: 50%;
}

.center90 {
	margin:0px auto;
	margin-bottom: 10px;
	display:block;
	width: 90%;
}

h3 {
	margin: 0;
}

input[type="text"] {
	padding: 4px;
	font-size: 13px;
}

input[type="button"] {
	background: @mainColor;
	border: 1px solid @secondaryColor;
	color: @white;
	padding: 5px;
	font-size: 13px;
	width: 90%;
	margin-top: 8px;
}