{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="span12">
				<header>
					Username
				</header>
				
				<ul id="userpayment-list"></ul>

				<div class="footer" id="togivefooter"></div>
			</div>
		</div>
	</div>

	<script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox">
			<label><%- from_user.first_name + " " + from_user.last_name %></label>
			<label class="userlabel">Total: <%- value %></label>
			<button class="destroy"></button>
		</div>
	</script>

	<script type="text/template" id="total-template">
		<span id="total-sum">
			<strong>Total: <%= total %></strong>
		</span>
	</script>

	<div id="add-payment-div">
	  <input type="text" id="title"/>
	  <input type="text" id="value"/>
    <hr>
	  <select multiple id="friends-input" class="chzn-select" data-placeholder="Choose some people to share the payment with" style="width:350px;"/>

	  <input type="button" class="add-payment" value="Submit" />
	  <script type="text/javascript">
	  $(document).ready(function() {
      $("#friends-input").ajaxChosen({
          type: 'GET',
          url: '/friends',
          dataType: 'json'
      }, function (data) {
          var results = [];

          $.each(data, function (i, val) {
              results.push({ value: val.id, text: val.name });
          });

          return results;
      });
	  });
	  </script>
  	</div>
{% endblock %}
