{% extends 'base.html' %}

{% block content %}

	<section id="main">
		<header id="header">
			<h1>My debts</h1>
		</header>
		<section id="main">
			<ul id="todo-list"></ul>
		</section>
		<footer id="footer"></footer>
	</section>
	<div id="info">
		<p>Double-click to edit a todo</p>
		<p>Written by <a href="https://github.com/addyosmani">Addy Osmani</a></p>
		<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
	</div>
	<script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox">
			<label><%- group_payment.title %></label>
			<label class="userlabel"><%- group_payment.user.first_name + " " + group_payment.user.last_name %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%- title %>">
	</script>
	<script type="text/template" id="total-template">
		<span id="total-sum"><strong>Total: <%= total %></strong></span>
	</script>
{% endblock %}