{% extends 'base.html' %}

{% block content %}

	<section id="main">
		<header id="header">
			<h1>To give</h1>
		</header>
		<section id="main">
			<ul id="todo-list"></ul>
		</section>
		<div class="footer" id="togivefooter"></div>
	</section>
	<script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox">
			<label><%- group_payment.title %></label>
			<label class="userlabel"><%- group_payment.user.first_name + " " + group_payment.user.last_name %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%- title %>">
	</script>
	<script type="text/template" id="total-template">
		<span id="total-sum">
			<strong>Total: <%= total %></strong>
		</span>
	</script>

<input type="text" id="friends-input" name="blah" />
<input type="button" value="Submit" />
<script type="text/javascript">
$(document).ready(function() {
    $("#friends-input").tokenInput("/friends");
});
</script>
{% endblock %}
